@model VehicleMarket2.ViewModels.HomeViewModel
    @{
        ViewBag.Title = "Vehicle Market";
    }

<body>
    <nav class="kategorieHorizontal">
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a href="@Url.Action("List", "Cars", new {categoryName = category.CategoryName.ToLower() })"
                       style="background-color: crimson">
                        @category.CategoryName
                    </a>
                </li>
            }           
        </ul>
        <a href="link">
            <img id="baner" src="../Content/Images/baner.png" />
        </a>
    </nav>

    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/AudiA5.jpg" />
                        <h1>
                            Piękne Audi A5
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/Passat.jpg" />
                        <h1>
                            Passaciok
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/Lexus.jpg" />
                        <h1>
                            Szpanerski Lexus
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/Hayabusa.jpg" />
                        <h1>
                            Najszybszy motor świata
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/Aerox.jpg" />
                        <h1>
                            Skuter dla kaskaderów
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Vehicles/Ninja.jpg" />
                        <h1>
                            Ukąśliwy jednoślad
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    </body>
    </html>
