
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>onas</h2>

<body>
<header>
    <div style="overflow: hidden;">			
        <a>
            Tomasz Zawadzki
            Student II roku
            Automatyka i Robotyka, wydział Elektroniki
        </a>
        <a id="indexHeaderLogo" href="link">
            <img src="../Content/Images/myphoto.png" class="center" />
        </a>
    </div>      
</header>

